{{#if display}}
<div id="autoCreative">
	<div class="container" style="background-image: url({{image}}); background-repeat:no-repeat; height: 600px; width: 100%;">
			<span class="close-button" style="width:15px;height:15px;background-repeat:no-repeat;background-position:center;cursor:pointer" data-link-action="close"></span>
			<div class="logo" style="width:250px;height:84px;background-repeat:no-repeat;background-position:center"></div>
			<div class="title" style="top:150px;width:400px;left:0;right:0;margin-left:auto;margin-right:auto;text-align:center;color:#fff;font-size:26px;font-weight:bold;font-family:Arial,sans-serif">LEAVING SO SOON?</div>
			<div class="text" style="top:200px;width:350px;left:0;right:0;margin-left:auto;margin-right:auto;text-align:center;font-size:15px;font-family:Arial,sans-serif;color:#fff;line-height:30px">
				
				    <br>
				<span class="substitle">You can enjoy</span><br><span class="porcentage">5% OFF</span><br>
				
				  Coupon code – <span class="code">VE5OFF</span><br>
				Complete your order now!
			</div> 
			<a class="button" style="width:280px;padding:10px 10px;left:0;right:0;margin-left:auto;margin-right:auto;cursor:pointer" data-link-action="refresh"></a>
		</div>
</div>
{{/if}}
{{yield}}
