body{
	background-color: white;
}
#login{
	right: 20px;
    display: inline-block;
    position: fixed;
    color: white;
    text-decoration: none;
}

.title{
	width: auto;
	padding: 20px;
	top: 0;
	left: 0px;
	background-color: red;
	color: white;
	background-color: #186C81;
	font-size: 20px;
}
