<div id="sectors">
	<div class="layoutSection">
		Sport
	</div>
	<div class="layoutSection">
		Travel
	</div>
	<div class="layoutSection">
		Electronics
	</div>
	<div class="layoutSection">
		Finance
	</div>
</div>
<div id="creationSection">
	<div id="pieces">
		<div id="banners">
		</div>
		<div id="slices">
		</div>
	</div>
	{{partial 'auto-creative'}}
	{{outlet}}
</div>

