
<div id="creationSection">
	<div id="sectors">
		<button class="btn btn-primary">Finance</button>
		<button class="btn btn-primary">Travel</button>
		<button class="btn btn-primary">Economic</button>
		<button class="btn btn-primary">Sport</button>
		<button class="btn btn-primary">Finance</button>
		<button class="btn btn-primary">Travel</button>
		<button class="btn btn-primary">Economic</button>
		<button class="btn btn-primary">Sport</button>
	</div>
	<div id="creativeBox">
	<img src="../public/assets/images/pointer.jpeg" alt="pointer">PLEASE CHOOSE YOUR SECTOR
	{{outlet}}
	</div>
</div>

