<div id="sectors">
	<div class="layoutSection">
		Sport
	</div>
	<div class="layoutSection">
		Travel
	</div>
	<div class="layoutSection">
		Electronics
	</div>
	<div class="layoutSection">
		Finance
	</div>

</div>
<div id="creationSection">
	<div id="pieces">
		<div id="banners">
		<button class="btn btn-primary">layout</button>
		<button class="btn btn-primary">button</button>
		<button class="btn btn-primary">close</button>
		<button class="btn btn-primary">text</button>
		</div>
		<div id="slices">
		<button class="btn btn-primary">test</button>
		</div>
	</div>
	{{partial 'auto-creative'}}
	{{outlet}}
</div>

